@{ 
    Layout = null;
}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>SCBWI Summer 2017</title>
        <link rel="stylesheet" 
              href="https://unpkg.com/purecss@0.6.2/build/pure-min.css" 
              integrity="sha384-UQiGfs9ICog+LwheBSRCt1o5cbyKIHbwjWscjemyBMT9YCUMZffs6UqUTd0hObXD" 
              crossorigin="anonymous">
        <link rel="stylesheet" href="https://unpkg.com/purecss@0.6.2/build/grids-responsive-min.css">
        <link rel="stylesheet" href="~/css/site.css" />
    </head>
    <body>
        <div id="app"></div>
        <!-- Main -->
        <input type="hidden" id="isloggedin" value="@User.Identity.IsAuthenticated.ToString()" />
        <script src="/js/bundle.js" asp-append-version="true"></script>
    </body>
</html>